<%- include('includes/head') %>
<%- include('includes/nav') %>
<div class="container">
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="container my-3">
      <div class="col-lg-8">
        <h1 class="text-center">Hello, <%= user.email %></h1>
        <p class="text-center lead">You will need to sing out to create another account.</p>

             <%- include('includes/messages') %>

      </div>
    </div>
    <div class=col-lg-2>
    </div>
  </div>
</div>
<%- include('includes/footer') %>